file = open("employees_revenue.txt", "r")  # Read the "employees_revenue.txt" file
data = file.read()  # Read the data from the file
lines = data.splitlines()  # Split the data into lines

names = []  # List to store names
call_numbers = []  # List to store call numbers
average_deal_sizes = []  # List to store average deal sizes
revenues = []  # List to store revenues

def clean_extract():
    for employee in lines:
        employee = employee.strip(" ")  # Remove leading and trailing spaces
        employee = employee.lower()  # Convert to lowercase
        employee = employee.capitalize()  # Capitalize the first letter of each word

        split_employee = employee.split(" ")  # Split the employee data by spaces

        name = split_employee[0]  # Extract the name
        call_number = split_employee[2]  # Extract the call number

        for i in split_employee:
            if "$" in i:  # If a string contains "$"
                average_deal_size = i.split("$")[0]  # Extract the average deal size

                dollars_index = split_employee.index("dollars")  # Find the index of "dollars"
                revenue_index = dollars_index - 1  # Calculate the index of the revenue
                revenue = split_employee[revenue_index]  # Extract the revenue

                average_deal_size = int(average_deal_size)  # Convert average deal size to integer
                call_number = int(call_number)  # Convert call number to integer
                revenue = int(revenue)  # Convert revenue to integer

                names.append(name)  # Append name to names list
                call_numbers.append(call_number)  # Append call number to call_numbers list
                average_deal_sizes.append(average_deal_size)  # Append average deal size to average_deal_sizes list
                revenues.append(revenue)  # Append revenue to revenues list

    return names, call_numbers, average_deal_sizes, revenues

names, call_numbers, average_deal_sizes, revenues = clean_extract()  # Call the clean_extract() function
print("Name:", names)  # Print names list
print("Number of calls:", call_numbers)  # Print call_numbers list
print("Average deal size:", average_deal_sizes)  # Print average_deal_sizes list
print("Revenues:", revenues)  # Print revenues list
